<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>774863347933-6tcrasvn0ur8vphjg9elb4dtebet4slf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.774863347933-6tcrasvn0ur8vphjg9elb4dtebet4slf</string>
	<key>API_KEY</key>
	<string>AIzaSyCGTb2QjAFdhUoT5d4fUjjuZ886pCs_Bjc</string>
	<key>GCM_SENDER_ID</key>
	<string>774863347933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ppap.PPAP</string>
	<key>PROJECT_ID</key>
	<string>meetn-9cc66</string>
	<key>STORAGE_BUCKET</key>
	<string>meetn-9cc66.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774863347933:ios:1a90dc994acb892385bb34</string>
</dict>
</plist>